body {
  text-align:center;
  background-image: url(../images/white-stripped-bg.png) ;
  color: #4f4f4f;
}

h1 {
  margin: 2%;
  color: #a3d07e;
}

select {
  margin: 2%;
}

.highlight {
  color: #a3d07e;
}

input {
  border-radius: 10px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
