body {
  background-image: url(../images/black-striped-bg.png) ;
  /*
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  margin: 1%;
}
.well {
  width: 60%;
  background-color: #DDDDDD;
  background-color:rgba(221,221,221,0.7);
  margin: 10px 20%;
  padding: 3%;
}
h1, h2, h3 {
  color: #eee;
}

p {
  color: #2C3B67;
}

article.blog {
  padding: 10px 5%;
  background-color: #eee;
}

article h1 { 
  color: #2C3B67;
}

article pre {
  background-color: #ffc;
}

iframe.well {
  width: 80%;
  margin: 10px 10%;
  height: 800px;
}

#tweet ul { list-style: none; }
#tweet li {
  color: #eee;
}

.instagram img {
  display: block;
  margin: 0 auto;
}

