body {
  background-image: url(../images/white-striped-bg.png) ;
  /*
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  */
  margin: 1%;
}

.navbar-inner {
  min-height: 120px;
  background: url(../images/headerbg.png);
}

nav.navbar .brand{
  font-size: 0.9em;
  padding:5%;
}

nav.navbar .brand:before{
  content: "<";
}
nav.navbar .brand:after{
  content: ">";
}

nav ul li a {
  background: rgba(245,245,245,0.5);
  border-radius: 4px;
}

.well {
  width: 70%;
  background-color: #DDDDDD;
  background-color:rgba(221,221,221,0.7);
  margin: 10px 15%;
  padding: 3%;
}

h1, h2, h3, h4, h5 {
  color: #663;
}

h3 {
  font-size: 1.3em;
}

h2 {
  font-size: 2.0em;
}

hr {
  border-color: #999;
}

a:hover {
  text-decoration: none;
}

p {
  color: #2C3B67;
}

article.blog {
  padding: 10px 5%;
  background-color: #eee;
}

article h1 { 
  color: #2C3B67;
}

article pre {
  background-color: #ffc;
}

iframe.well {
  width: 80%;
  margin: 10px 10%;
  height: 800px;
}

#tweet ul { list-style: none; }
#tweet li {
  color: #333;
}

.instagram img {
  display: block;
  margin: 0 auto;
}

#products-grid {
  text-align: left;
  padding-left: 5%;
}

#products-grid img {
  float: right;
}

#products-grid h2 span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;

}

#products-grid .product {
  border-style: solid;
  border-color: #ccc;
  padding:1%;
  margin: 1%;
  border-radius: 5px;
  min-height: 280px;
}

span.wordpress {
  background: url('../images/wordpress128.png');
}

span.ruby{
  background: url('../images/ruby128.png');
}

span.windows{
  background: url('../images/windows128.png');
}

span.java{
  background: url('../images/java128.png');
}

span.html{
  background: url('../images/html128.png');
}



/* media queries */

/* larger than 480 px */
@media (min-width: 480px) { 
  nav.navbar .brand{
    font-size: 1.5em;
    padding:5%;
  }
  #products-grid .product {
    min-height: 260px;
  }
  h3 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 2.3em;
  }

}

/* larger than 1000 px */
@media (min-width: 1000px) { 
  nav.navbar .brand{
    font-size: 2em;
    padding:5%;
  }

  .well {
    width: 60%;
  }
}



